
<div id="buscadordeencabezados" class="fondoPopUp">
    <div class="contenedorPopUp shadow-1">
        <img src="assets/cerrar.png" alt="cerrar icono" class="icono-cerrar" />
        <div class="encabezadoPopUp padding-1em">
            <h4 class="modal-title">Consulta de encabezados</h4>
        </div>
        <div class="cuerpoPopUp padding-1em">
                <div id="ConsultaForm">
                        <form>
                            <div class="form-group">
                              <label for="cad">Cadena:</label>
                              <input type="text" class="form-control" id="cad">
                            </div>
                            <div class="form-group">
                              <label for="oc">N&uacute;mero de orden de compra:</label>
                              <input type="text" class="form-control" id="oc">
                            </div>
                            <button class="btn btn-primary">Consultar</button>
                          </form>
                </div>
                <div id="DatosForm" class="oculto">
                        <form>
                                <div class="form-group">
                                  <label for="cad">Cadena:</label>
                                  <input type="text" class="form-control" id="cad">
                                </div>
                                <div class="form-group">
                                  <label for="oc">N&uacute;mero de orden de compra:</label>
                                  <input type="text" class="form-control" id="oc">
                                </div>
                                <div class="form-group">
                                    <label for="numCli">Nombre de cliente:</label>
                                    <input type="text" class="form-control" id="numCli">
                                </div>
                              </form>
                </div>
        </div>
    </div>
</div>